# General build artifacts
build*/
benchmarks/
*.exe
*.o
*.lst
*.log
*.a
*.lib
*.dll
*.so

# Certain source files I don't want committed
leetcode.c

# VSCode
.vscode/

# Unit Test
*.gcda
*.gcno
*.gcov

# Vim
*.swp
*.vim
tags

# Miscellaneous
plan.md
todo

# Claude Code
.claude/

# Codex
.codex
.cache/
